.btn {
  width: 100%;
  height: 60px;
  max-width: 186px;
  padding: 15px 23px;
  color: $white;
  border: none;
  font-family: $font;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding-block: 0;
  padding-inline: 0;
  background: transparent;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  white-space: nowrap;
  @media (max-width: 1024px) {
    font-size: 12px;
    padding: 12px 19px;
    max-width: 140px;
    height: 44px;
  }
  @media (max-width: 768px) {
    padding: 5px 19px;
  }
  @media (max-width: 375px) {
    border-radius: 7px;
    padding: 5px 16px;
  }

  &--signup {
    height: 62.66px;
    border-radius: 18px;
    background-color: $violet;
    @media (max-width: 1024px) {
      line-height: 19px;
    }
    @media (max-width: 768px) {
      height: 40px;
    }
    @media (max-width: 375px) {
      border-radius: 7px;
      padding: 5px 16px;
      height: 34px;
      max-width: 120px;
    }
    &:hover .btn__svg {
      stroke: $violet;
    }
    &:hover {
      background-color: white;
      border: 1px solid $violet;
      color: $violet;
    }
  }
  &--login {
    color: $gray;
    padding: 0;
    margin: 0;
    @media (max-width: 768px) {
      line-height: 19px;
      margin-right: 10px;
    }
  }
  &__svg {
    fill: none;
    stroke: white;
    transition: stroke 0.3s linear;
  }
}
