.card-statistic {
  border: 1.57px solid #edf2f7;
  border-radius: 20px;
  padding: 25px 25px 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  &::before {
    background-color: #6b5fbc;
    opacity: 0.2;
    content: "";
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    height: 9.42px;
    border-radius: 78px;
    @media (max-width: 1024px) {
      height: 6px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    height: 9.42px;
    border-radius: 78px;
    width: 70%;
    background-color: #6b5fbc;
    @media (max-width: 1024px) {
      height: 6px;
    }
  }
  &__wrap-svg {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #f4f0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    @media (max-width: 1024px) {
      width: 35px;
      height: 35px;
    }
  }
  &__wrap-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 0;
  }
  &__title {
    font-family: $font4;
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #1a202c;
    @media (max-width: 1024px) {
      font-size: 12px;
      line-height: 20px;
    }
  }
  &__text {
    font-family: $font4;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-align: left;
    color: #a0aec0;
    @media (max-width: 1024px) {
      font-size: 11px;
      line-height: 16px;
    }
  }
  &__price {
    justify-self: self-start;
    font-family: $font4;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.3px;
    text-align: right;
    @media (max-width: 1024px) {
      font-size: 15px;
      line-height: 23px;
    }
  }
}
