.card-review {
  box-shadow: 0px 20.07px 30.1px 0px #4646461a;
  width: 100%;
  max-width: 468px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 38px 43px;
  @media (max-width: 1024px) {
    max-width: 375px;
  }
  @media (max-width: 767px) {
    max-width: 280px;
    padding: 22px 25px;
    box-sizing: border-box;
  }
  &__wrap-img {
    width: 70px;
    @media (max-width: 767px) {
      width: 42px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 31px;
  }
  &__title {
    font-family: $font2;
    font-size: 21px;
    font-weight: 530;
    line-height: 31px;
    text-align: left;
    color: #030314;
    @media (max-width: 1024px) {
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__text {
    font-family: $font2;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: #5e5d5d;
    @media (max-width: 1024px) {
      font-size: 11px;
      line-height: 18px;
    }
  }
  &__info {
    margin-left: 20px;
    margin-right: auto;
  }
  &__content {
    font-family: $font2;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26.12px;
    text-align: justified;
    margin-bottom: 40px;
    @media (max-width: 1024px) {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 27px;
    }
  }
}
