.card-food {
  width: 100%;
  max-width: 225px;
  box-shadow: 6.85px 82.18px 41.09px 0px #e5e5e5b2;
  border: 1.44px solid #f4f4f6;
  border-radius: 35px;
  overflow: hidden;
  transition: all 0.3s ease;
  @media (max-width: 1024px) {
    max-width: 159px;
  }
  @media (max-width: 860px) {
    max-width: 140px;
  }
  @media (max-width: 375px) {
    max-width: 122px;
  }
  &:hover {
    transform: scale(1.1);
  }
  &__wrap-img {
    display: flex;
    align-items: flex-start;
    margin-top: 26px;

    justify-content: center;
    @media (max-width: 1024px) {
      padding: 0 10px;
    }
  }
  &__btn {
    background-color: #323142;
    width: 43px;
    height: 40px;
    border-radius: 8px;
    @media (max-width: 1024px) {
      width: 31px;
      height: 28px;
    }
  }
  &__cost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    @media (max-width:1024px) {
      margin-bottom: 21px;
      margin-top: 10px;
    }
  }
  &__price {
    font-family: $font4;
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    color: #121826;
    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 16px;
    }
  }
  &__span {
    color: #8e97a6;
    font-size: 19px;
    @media (max-width: 1024px) {
      font-size: 13px;
      line-height: 16px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__top {
    height: 210px;
    @media (max-width: 1024px) {
      height: 150px;
    }
  }
}
