.card-foodmini {
  &__top-card {
    display: flex;
    flex-direction: row;
    width: 329px;
    height: 89;
    border-radius: 16px;
    box-shadow: 0px 20.07px 30.1px 0px #4646461a;

    padding: 4px 16px;
    align-items: flex-end;
    justify-content: space-between;
    background-color: white;
    @media (max-width: 1024px) {
      width: 233px;
    }
  }
  &__img {
    max-width: 100%;
  }

  &__wrap-img-fm {
    position: relative;
    width: 100%;
    max-width: 73px;
    @media (max-width: 1024px) {
      max-width: 53px;
    }
  }
  &__left {
    display: flex;
    flex-direction: row;
    gap: 18px;
  }
  &__time {
    text-align: end;
    font-family: $font3;
    font-size: 10.66px;
    font-weight: 500;
    line-height: 14.93px;
    text-align: left;
    color: #acadb9;
    margin-bottom: 6px;
    @media (max-width: 1024px) {
      font-size: 7px;
    }
  }
  &__text1 {
    font-family: $font2;
    font-size: 19.06px;
    font-weight: 600;
    line-height: 26.69px;
    text-align: left;

    color: #323142;
    @media (max-width: 1024px) {
      font-size: 11px;
    }
    @media (max-width: 375px) {
      font-size: 14px;
    }
  }
  &__text2 {
    font-family: $font2;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    margin-top: 8px;
    color: #323142;
    @media (max-width: 1024px) {
      font-size: 7px;
      margin-top: 2px;
    }
  }
  &__alltext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
