.card-rest {
  width: 100%;
  max-width: 396px;
  box-shadow: 5.95px 71.35px 35.67px 0px #e5e5e5b2;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.3s ease;
  @media (max-width: 1443px) {
    max-width: 280px;
  }
  @media (max-width: 767px) {
    max-width: 100%;
  }
  @media (max-width: 1023px) {
    max-width: 238px;
  }
  &:hover {
    transform: scale(1.1);
  }
  &__wrap-info {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    position: relative;
    @media (max-width: 1443px) {
      padding: 10px 16px;
    }
  }
  &__wrap-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }

  &__title {
    font-family: $font2;
    font-size: 26px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    color: #323142;
    @media (max-width: 1280px) {
      font-size: 20px;
    }
    @media (max-width: 1443px) {
      font-size: 16px;
      line-height: 26px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  &__text,
  &__info {
    font-family: $font3;
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #8e97a6;
    @media (max-width: 1443px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__info {
    cursor: pointer;
  }
  &__img {
    width: 100%;
    display: block;
    position: absolute;
  }
  &__wrap-img {
    height: 176px;
    width: 100%;
    position: relative;
    @media (max-width: 1443px) {
      height: 125px;
    }
  }
  &__highlight {
    padding: 3px 8px;
    border-radius: 5px;
    width: 66px;
    text-align: center;
    font-family: $font2;
    font-size: 13px;
    font-weight: 400;
    @media (max-width: 1443px) {
      width: 41px;
      font-size: 8px;
      padding: 1px 5px;
    }
  }
  &__wrap-bookmark {
    position: absolute;
    left: 85%;
    bottom: 18%;
    background-color: #dbd9ee;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1443px) {
      left: 82%;
    }
  }
  &__healthy {
    background-color: #f7edd0;
    color: #daa31a;
  }
  &__trending {
    background-color: #f7c5ba;
    color: #fb471d;
  }
  &__supreme {
    background-color: #33ac64;
    color: #309d5b;
  }
}
