.customer {
  &__container {
    @include container;

    margin-bottom: 182px;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 15px;
  }
  &__title {
    margin-bottom: 80px;
    margin-top: 116px;
  }
  &__card {
    display: flex;
    flex-wrap: nowrap;
    gap: 35px;
    width: 15000px;
    margin-bottom: 100px;
    list-style-type: none;
    @media (max-width: 1024px) {
      margin-bottom: 70px;
    }
  }
  &__ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 540px;
    right: 0;
    bottom: -7%;
    display: flex;
    align-self: flex-end;
    @media (max-width: 767px) {
      max-width: 100%;
      flex-direction: row;
      align-self: center;
    }
  }
  &__li {
    flex: 0 1 33.33%;
  }
  &__btn {
    font-size: 0;
    width: 181px;
    height: 11px;
    border-radius: 50px;
    margin-right: -3px;
    background-color: rgba(108, 95, 188, 0.2);
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: #6c5fbc;
    @media (max-width: 1024px) {
      height: 7px;
    }
    @media (max-width: 767px) {
      width: 80px;
    }
  }
}
