.download {
  &__container {
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 287px;
    margin-top: 84px;
    padding: 0 0 120px;
    border-bottom: 1px solid $light_gray;
    @media (max-width: 1443px) {
      gap: 204px;
    }
    @media (max-width: 1023px) {
      gap: 100px;
    }
    @media (max-width: 767px) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      padding-bottom: 60px;
    }
  }
  &__wrap {
    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      right: -10%;
      width: 42px;
      height: 28px;
      background: url(./../src/assets/bottom.png) top center no-repeat;
      background-size: cover;
    }
  }
  &__content {
    width: 100%;
    max-width: 340px;
    @media (max-width: 767px) {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
  &__title {
    font-family: $font2;
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
    text-align: left;
    color: rgba(24, 24, 27, 1);
    margin-bottom: 45px;
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &__span {
    font-family: $font2;
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
    text-align: left;
    color: $world_violet;
  }
  &__text {
    font-family: $font;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: $gray;
    margin-bottom: 20px;
    margin-left: 15px;
    &:last-child {
      margin-bottom: 42px;
    }
  }
}
