.features {
  background-color: $violet;
  padding: 57px;
  position: relative;
  @media (max-width: 1024px) {
    padding: 40px;
  }
  @media (max-width: 768px) {
    overflow: hidden;
  }
  &__title {
    font-family: $font2;
    font-size: 43px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;

    color: white;
    margin-bottom: 10px;
    @media (max-width: 1024px) {
      font-size: 30px;
      line-height: 38px;
    }
    @media (max-width: 767px) {
      font-size: 43px;
      line-height: 54px;
    }
  }
  &__text {
    font-family: $font;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: #c5bfed;
    @media (max-width: 1024px) {
      font-size: 10px;
      line-height: 15px;
    }
    @media (max-width:767px) {
      font-size: 14px;
      line-height: 21px;
    }
  }
  &__ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__li {
    width: 100%;
    max-width: 206px;
    padding: 0 66px;
    @media (max-width: 1024px) {
      padding: 0 45px;
    }
    @media (max-width: 767px) {
      padding: 60px 0;
    }
    &--m {
      border-left: 1px solid #c5c5c515;
      border-right: 1px solid #c5c5c515;
      @media (max-width: 767px) {
        border-left: none;
        border-right: none;
        border-top: 1px solid #c5c5c515;
        border-bottom: 1px solid #c5c5c515;
      }
    }
  }
}
