.footer {
  background-color: #eaeaea;
  &__container {
    @include container;
    padding: 96px 0 80px;
    @media (max-width: 1024px) {
      padding: 68px 73px;
      box-sizing: border-box;
    }
    @media (max-width: 767px) {
      padding: 55px 30px 0;
      position: relative;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $light_gray;
    padding-bottom: 29px;
    align-items: center;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__nav {
    display: flex;
    gap: 70px;
    @media (max-width: 767px) {
      flex-direction: column;
      gap: 30px;
      margin-top: 53px;
    }
  }
  &__lower {
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1024px) {
      margin-top: 40px;
    }
    @media (max-width: 767px) {
      margin-top: 20px;
      justify-content: center;
      padding-bottom: 36px;
    }
  }
  &__icons {
    display: flex;
    gap: 53px;
    @media (max-width: 767px) {
      position: absolute;
      top: 15%;
      right: 30px;
      gap: 20px;
    }
  }
  &__text {
    font-family: $font;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    color: #999999;
    @media (max-width: 1024px) {
      font-size: 12px;
      line-height: 17px;
    }
  }
}
