.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 383px;
  @media (max-width: 1440px) {
    width: 275px;
  }
  @media (max-width: 990px) {
    width: 340px;
  }
  @media (max-width: 660px) {
    width: 100%;
  }
  &__title {
    font-family: $font2;
    font-size: 35.25px;
    font-weight: 600;
    color: #323142;
    margin-bottom: 48px;
    margin-top: 137px;
    text-align: center;
    @media (max-width: 1440px) {
      font-size: 25px;
    }
    @media (max-width: 990px) {
      font-size: 28px;
    }
  }
  &__accounts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &__btn {
    background-color: #f5f5f5;
    height: 63px;
    font-family: $font2;
    border-radius: 13px;
    font-size: 31.13px;
    font-weight: 600;
    text-align: center;
    color: #323142;
    align-items: center;
    width: calc(50% - 10px);
    @media (max-width: 1440px) {
      height: 45px;
    }
  }
  &__or {
    text-transform: uppercase;
    font-family: $font2;
    font-size: 20px;
    font-weight: 500;
    color: #005a6459;
    margin: 35px 0;
    text-align: center;
  }
  &__input {
    height: 75px;
    border-radius: 14px;
    background-color: #f5f5f5;
    padding-left: 5%;
    border: none;
    outline: none;
    margin-bottom: 24px;
    width: 100%;

    font-family: $font2;
    font-size: 17px;
    font-weight: 500;
    &:focus-visible {
      border: 2.22px solid #6c5fbc;
      background-color: white;
      color: $violet;
    }
    &::placeholder {
      color: #c2c3cb;
    }
    @media (max-width: 1440px) {
      height: 52px;
    }
  }
  &__submit {
    font-family: $font2;
    font-size: 18px;
    font-weight: 600;
    color: #f3f5f6;
    background-color: $violet;
    border-radius: 15px;
    margin-top: 14px;
    width: 100%;
    height: 74px;
    transition: all 0.3s linear;
    &:hover {
      background-color: white;
      border: 1px solid $violet;
      color: $violet;
    }

    @media (max-width: 1440px) {
      height: 52px;
      font-size: 12px;
      border-radius: 11px;
    }
  }
  &__other {
    font-family: $font2;
    font-size: 19px;
    font-weight: 400;
    color: #3e3e3e;
    text-decoration: none;
    align-self: center;
    margin-top: 20px;
    @media (max-width: 1440px) {
      font-size: 12px;
    }
  }
  &__span {
    color: $violet;
  }
  &__forget {
    font-family: $font2;
    font-size: 15.56px;
    font-weight: 400;
    color: #6c5fbc;
    align-self: flex-end;
    cursor: pointer;
    @media (max-width: 1440px) {
      font-size: 12px;
    }
  }
}
