.hero-text {
  width: 40%;
  @media (max-width: 1024px) {
    width: 50%;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
  &__text-over {
    display: flex;
    position: relative;
    font-family: $font2;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    color: $black_20;
    @media (max-width: 1024px) {
      font-size: 10px;
    }
    @media (max-width: 767px) {
      justify-content: center;
      color: #201f1f;
    }

    &::before {
      content: "";
      display: flex;
      align-items: flex-start;
      border-bottom: 1px solid $black_20;
      width: 54px;
      height: 8px;
      margin-right: 20px;
    }
  }
  &__title {
    font-family: $font2;
    font-size: 75px;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: -3px;
    text-align: left;
    margin-top: 18px;
    @media (max-width: 1024px) {
      font-size: 53px;
      margin-top: 12px;
      line-height: 64px;
    }
    @media (max-width: 768px) {
      font-size: 45px;
      margin-top: 12px;
      line-height: 64px;
    }
  }
  &__text {
    font-family: $font;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: justified;
    margin-top: 16px;
    color: #676767;
    @media (max-width: 1024px) {
      font-size: 12px;
      line-height: 19px;
    }
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &__span-title {
    color: $world_violet;
  }
  &__span-text {
    color: $dark_violet;
  }
  &__wrap-btn {
    display: flex;
    gap: 20px;
    margin-top: 53px;
    left: 0;
    @media (max-width: 1024px) {
      margin-top: 37px;
    }
  }
  &__cnt {
    font-family: $font3;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: $blue_gray;
    bottom: 0;
    margin-top: 11px;
    @media (max-width: 1024px) {
      margin-top: 0;
    }
  }
  &__trust {
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
    margin-top: 33px;
    @media (max-width: 767px) {
      justify-content: center;
    }
  }
  &__btn {
    border: 1.5px solid $violet;
    color: $violet;
    border-radius: 12px;
    width: 110px;
    text-align: center;
    @media (max-width: 768px) {
      height: 40px;
    }
  }
}
