.hero-food {
  display: block;
  position: relative;
  align-items: flex-end;
  margin-right: 105px;
  @media (max-width: 768px) {
    margin-right: 0;
  }
  &__wrap-img-fb {
    position: relative;
    &--s {
      width: 359px;
      @media (max-width: 1440px) {
        width: 255px;
      }
    }
    @media (max-width: 1024px) {
      width: 300px;
    }
    @media (max-width: 768px) {
      width: 260px;
    }
    @media (max-width: 375px) {
      width: 205px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: -5%;
      left: 4%;
      border-radius: 100%;
      z-index: -1;
      background-color: $violet;
    }

    &::after {
      content: "";
      position: absolute;
      top: 12%;
      right: -13%;
      width: 100px;
      height: 100px;
      z-index: -1;
      background: url(./../src/assets/arrow.png) top center no-repeat;
      background-size: cover;
      @media (max-width: 1024px) {
        width: 71px;
        height: 69px;
        right: -20%;
      }
      @media (max-width: 375px) {
        right: -28%;
      }
    }
  }
  &__img {
    max-width: 100%;
  }
  &__top-card {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 329px;
    height: 89;
    border-radius: 16px;
    box-shadow: -9.84px 12.3px 20.51px #00000026;
    padding: 4px 16px;
    align-items: flex-end;
    justify-content: space-between;
    background-color: white;
    bottom: 90%;

    left: 40%;
    &--s {
      width: 272px;
      @media (max-width: 1440px) {
        width: 200px;
      }
    }
    @media (max-width: 1024px) {
      width: 233px;
    }
    @media (max-width: 1024px) {
      width: 180px;
    }
    @media (max-width: 375px) {
      width: 156px;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      right: -10%;
      width: 42px;
      height: 28px;
      background: url(./../src/assets/top.png) top center no-repeat;
      background-size: cover;
      @media (max-width: 1024px) {
        width: 29px;
        height: 17px;
      }
      @media (max-width: 375px) {
        width: 19px;
        height: 11px;
        right: -6%;
      }
    }
  }
  &__wrap-img-fm {
    position: relative;
    width: 100%;
    max-width: 73px;
    &--s {
      max-width: 79px;
      @media (max-width: 1440px) {
        max-width: 54px;
      }
    }
    @media (max-width: 1024px) {
      max-width: 53px;
    }
    @media (max-width: 375px) {
      max-width: 35px;
    }
  }
  &__left {
    display: flex;
    flex-direction: row;
    gap: 18px;
  }
  &__alltext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__text1 {
    font-family: $font3;
    font-size: 15.59px;
    font-weight: 600;
    line-height: 21.82px;
    text-align: left;
    color: #323142;
    &--s {
      font-size: 19px;
      @media (max-width: 1439px) {
        font-size: 13px;
      }
    }
    @media (max-width: 1023px) {
      font-size: 11px;
    }
    @media (max-width: 767px) {
      font-size: 7px;
    }
  }
  &__text2 {
    font-family: $font3;
    font-size: 9.84px;
    font-weight: 500;
    line-height: 13.78px;
    text-align: left;
    margin-top: 8px;
    color: #323142;
    &--s {
      font-size: 12px;
      @media (max-width: 1439px) {
        font-size: 8px;
        margin-top: 0;
      }
    }
    @media (max-width: 1023px) {
      font-size: 7px;
      margin-top: 2px;
    }
    @media (max-width: 768px) {
      font-size: 4px;
      margin-top: 0;
    }
  }
  &__time {
    text-align: end;
    font-family: $font3;
    font-size: 10.66px;
    font-weight: 500;
    line-height: 14.93px;
    text-align: left;
    color: #acadb9;
    margin-bottom: 6px;
    @media (max-width: 1024px) {
      font-size: 7px;
    }
    @media (max-width: 767px) {
      font-size: 5px;
      margin-bottom: 0;
    }
  }
  &__wrap-img {
    position: absolute;
    bottom: 10%;
    left: 0;
    max-width: 50%;
    padding: 5px;
    &--s {
      bottom: -10%;
    }
    @media (max-width: 1023px) {
      bottom: 28%;
    }
    @media (max-width:767px) {
      bottom: -17%;
      max-width: 60%;
      left: -18%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 78%;
      left: -2%;
      width: 38px;
      height: 33px;
      z-index: 2;
      background: url(./../src/assets/bottom.png) top center no-repeat;
      background-size: cover;
      @media (max-width: 1024px) {
        width: 27px;
        height: 23px;
      }
      @media (max-width: 767px) {
        width: 18px;
        height: 15px;
      }
    }
  }
}
