.link {
  font-family: $font;
  font-size: 17.83px;
  font-weight: 500;
  line-height: 26.74px;
  text-align: left;
  color: $gray;
  transition: color 0.2s;
  text-decoration: none;
  @media (max-width: 1024px) {
    font-size: 12px;
  }
  @media (max-width: 375px) {
    font-size: 14px;
  }
  &:hover {
    color: $violet;
  }
}
