.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  &__container {
    @include container;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    @media (max-width: 1024px) {
      padding: 0 68px;
    }
    @media (max-width: 767px) {
      padding: 0 30px;
    }
  }
  &__main {
    display: flex;
    flex-direction: row;
    padding: 47px 0 25px;
    border-bottom: 1px solid $light_gray;
    align-items: center;
    @media (max-width: 375px) {
      justify-content: space-between;
    }
  }
  &__wrap-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  &__wrap-nav--active{
    display: block;
    position: fixed;
    top: 0;
    z-index: 6;
    width: 90%;
    background-color: $light_gray;
  }
  &__nav {
    
    margin: 0 auto 0 103px;
    
  }
  &__wrap-auth {
    display: flex;
    width: 18%;
    @media (max-width: 1024px) {
      align-items: center;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__burger {
    display: none;
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      gap: 11px;
    }
  }
  &__line {
    @media (max-width: 767px) {
      height: 2px;
      width: 31.5px;
      background-color: #282828;
    }
  }
  &__ul{
    display: flex;
    flex-direction: row;
    gap: 53px;
    @media (max-width: 1024px) {
      gap: 38px;
      margin-left: 73px;
    }
    @media (max-width: 1023px) {
      gap: 38px;
      margin-left: 30px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__ul--active{
    display: block;
  }
  &__li{
    list-style-type: none;
    
  }
}
