.purchase {
  &__container {
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    gap: 10px;
    padding: 0 90px 120px;
    border-bottom: 1px solid $light_gray;
    @media (max-width: 1024px) {
      justify-content: space-between;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 100px;
    }
  }
  &__title {
    font-size: 50px;

    text-align: left;
    width: 100%;
    max-width: 450px;
    margin-bottom: 48px;
    @media (max-width: 1024px) {
      font-size: 36px;
      line-height: 41px;
    }
    @media (max-width: 767px) {
      font-size: 34px;
      margin-bottom: 36px;
    }
  }
  &__part-left {
    display: block;
    @media (max-width: 1024px) {
      max-width: 350px;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
    @media (max-width: 767px) {
      margin-bottom: 100px;
    }
  }
  &__part-right {
    border: 1.57px solid #edf2f7;
    border-radius: 25px;
    width: 100%;
    max-width: 524px;
    box-shadow: 0px 20.07px 30.1px 0px #4646461a;
    padding: 45px 40px;
    @media (max-width: 1024px) {
      max-width: 379px;
      padding: 32px 26px;
    }
    @media (max-width: 767px) {
      max-width: 316px;
      padding: 26px 22px;
    }
  }
  &__title-l {
    font-family: $font4;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #1a202c;
    @media (max-width: 1024px) {
      font-size: 20px;
      line-height: 27px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__wrap-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
  }
  &__select {
    padding: 18px 12px;
    font-family: $font2;
    font-size: 19px;
    font-weight: 550;
    line-height: 28px;
    letter-spacing: 0.6px;
    text-align: center;
    color: #1a202c;
    outline: none;
    border: none;
    background-color: #fafafa;
    border-radius: 12px;
    width: 100%;
    max-width: 171px;
    position: relative;
    @media (max-width: 1024px) {
      font-size: 13px;
      line-height: 20px;
      padding: 9px 12px;
      max-width: 125px;
    }
    @media (max-width: 1024px) {
      max-width: 110px;
      font-size: 11px;
      padding: 7px 10px;
    }
  }
  &__wrap-card {
    display: flex;
    flex-direction: column;
    gap: 22px;
    list-style-type: none;
    @media (max-width: 1024px) {
      gap: 15px;
    }
  }
}
