.rest {
  &__container {
    @include container;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 0 0 120px;
    border-bottom: 1px solid $light_gray;
    @media (max-width: 1024px) {
      margin-top: 70px;
    }
    @media (max-width: 375px) {
      padding-bottom: 60px;
    }
  }
  &__svg {
    stroke: #acadb9;
    fill: none;
  }
  &__link {
    align-self: flex-end;
  }
  &__card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 65px;
    list-style-type: none;
    @media (max-width: 1024px) {
      gap: 13px;
    }
    @media (max-width:375px) {
      gap: 10px;
    }
  }
  &__title {
    font-family: $font2;
    font-size: 45px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    color: #323142;
    margin-bottom: 85px;
    @media (max-width: 1024px) {
      margin-bottom: 60px;
    }
    @media (max-width: 375px) {
      line-height: 40px;
      font-size: 35px;
    }
  }
  &__span {
    color: $violet;
  }
  &__link {
    text-decoration: none;
    font-family: $font2;
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: -0.1px;
    text-align: left;
    color: #acadb9;
  }
}
