.section-heros {
  padding: 250px 0 120px;
  @media (max-width: 767px) {
    padding-top: 180px;
  }

  &__container {
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      gap: 70px;
    }
  }
}
