.subscribe {
  &__container {
    @include container;
    max-width: 1280px;
    margin-bottom: 216px;
    box-sizing: border-box;
  }
  &__wrap {
    background-color: #6c5fbc;
    background: #6c5fbc url("./../../../src/assets/img/sale-bg.jpg") no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding: 37px 66px;
    position: relative;
    @media (max-width: 767px) {
      display: flex;
    flex-direction: column;
    align-items: center;
      padding: 35px 27px 95px;
    }
    @media (max-width:466px) {
      padding: 35px 5px 95px;
    }
  }
  &__title {
    font-family: $font2;
    font-size: 70px;
    font-weight: 800;
    line-height: 105px;
    text-align: left;
    color: #ffffff97;
    margin-bottom: 15px;
    @media (max-width: 1024px) {
      font-size: 49px;
      line-height: 74px;
    }
    @media (max-width: 767px) {
      font-size: 40px;
      line-height: 62px;
      text-align: center;
    }
  }
  &__input {
    border: none;
    width: 100%;
    background-color: transparent;
    outline: none;
    
    &::placeholder {
      font-family: $font2;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: left;
      @media (max-width: 1024px) {
        font-size: 11px;
        line-height: 17px;
        
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
    border-radius: 15px;
    box-shadow: 0px 7.25px 45.33px 0px #0000001a;
    background-color: white;

    padding: 7px 7px 7px 21px;
    @media (max-width: 1024px) {
      width: 312px;
    }
    @media (max-width: 767px) {
      width: 210px;
      border-radius: 9px;
    }
  }
  &__wrap-img {
    width: 274px;
    position: absolute;
    left: 72%;
    bottom: -27%;
    @media (max-width: 1443px) {
      width: 194px;
    }
    @media (max-width: 1023px) {
      width: 141px;
    }
    @media (max-width: 767px) {
      left: 30%;
    }
  }
  &__img {
    width: 100%;
  }
}
