.signup {
  transform: scale(0);
  width: 0;
  height: 0;
  position: absolute;
  &--active {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.3s ease, visibility 0.3s linear;
    overflow-y: scroll;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  &__container {
    display: flex;
    flex-direction: row;
    background-color: white;
    position: relative;
    max-width: 1450px;
    margin: 25px auto;
    @media (max-width: 1440px) {
      max-width: 1024px;
    }
    @media (max-width: 990px) {
      max-width: 80%;
    }
    @media (max-width: 375px) {
      max-width: 100%;
    }
  }

  &__logo {
    align-self: flex-start;
  }
  &__container-left {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 32px 48px 48px;
  }
  &__text-b {
    font-family: $font2;
    font-size: 16px;
    font-weight: 500;
    color: #718096;
  }
  &__container-right {
    background-color: $violet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 249px 90px 120px 70px;
    @media (max-width: 1440px) {
      padding: 177px 27px 85px 49px;
    }
    @media (max-width: 990px) {
      display: none;
    }
  }
  &__title {
    font-family: $font3;
    font-size: 40px;
    font-weight: 800;
    color: white;
    margin-top: 80px;
    margin-bottom: 20px;
    @media (max-width: 1440px) {
      font-size: 28px;
    }
  }
  &__wrap-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 91px;
    width: 100%;
  }
  &__text {
    width: 500px;
    font-family: $font4;
    font-size: 14px;
    font-weight: 500;
    color: white;
    max-width: 500px;
    text-align: center;
    line-height: 21px;
    @media (max-width: 1440px) {
      width: 355px;
      font-size: 10px;
    }
    @media (max-width: 660px) {
      font-size: 7px;
    }
  }
}
