.svg {
  &__logo {
    width: 112px;
    height: 42px;
    cursor: pointer;
  }
  &__trust {
    width: 123px;
    height: 30px;
    margin-right: 11px;

    @media (max-width: 1024px) {
      width: 87px;
    }
  }
  &__star {
    width: 95px;
    height: 15px;
    margin-top: 8px;
    @media (max-width: 1024px) {
      margin-top: 0;
    }
  }
  &__wrap-line {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &--l {
      left: -37%;
      @media (max-width: 375px) {
        top: 47%;
        transform: rotate(272deg);
      }
    }
    &--r {
      left: 45%;
      @media (max-width: 375px) {
        transform: rotate(212deg);
        left: -58%;
        width: 100%;
        height: 47%;
        top: -10%;
      }
    }
  }
  &__line {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__arrow {
    width: 27px;
    height: 27px;
    margin-left: 14px;
    margin-bottom: -8px;
  }
  &__star-one {
    width: 25px;
    height: 25px;
    margin-bottom: 3px;
  }
  &__book-mark {
    width: 14px;
    height: 19px;
  }
  &__heart {
    width: 21px;
    height: 18px;
    margin-left: -22px;
    cursor: pointer;
  }
  &__plus {
    width: 15px;
    height: 15px;
    @media (max-width: 1024px) {
      width: 10px;
      height: 10px;
    }
  }
  &__kov {
    width: 59px;
    height: 45px;
    @media (max-width: 1024px) {
      width: 41px;
      height: 31px;
    }
  }
}
