.title {
  font-family: $font2;
  font-size: 45px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
  color: #18181b;
  text-align: center;
  @media (max-width: 1024px) {
    font-size: 32px;
    line-height: 18px;
  }
  @media (max-width: 375px) {
    line-height: 40px;
    font-size: 35px;
  }

  &__title-span {
    color: #6c5fbc;
  }
}
