@mixin container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 90px;
  @media (max-width: 1280px) {
    max-width: 1200px;
    box-sizing: border-box;
  }
  @media (max-width: 375px) {
    padding: 0 30px;
  }
}
