$gray: #606060;
$white: #f9f9f9;
$violet: #6c5fbc;
$dark_violet: #6155ae;
$world_violet: #5c4eae;
$light_gray: #cbcbcb;
$blue_gray: #334155;

$black_20: rgba(32, 31, 31, 0.2);

$font: "inter", sans-serif;
$font2: "poppins", sans-serif;
$font3: "plus jakarta sans", sans-serif;
$font4: "manrope", sans-serif;
